body {
    font: 18px/22px 'Helvetica Neue', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    overflow-y: scroll;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

header {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -5;
    background: url(../images/cabebg.jpg) center top no-repeat;
    -webkit-transition: all 1300ms ease;
       -moz-transition: all 1300ms ease;
            transition: all 1300ms ease;
}

header.in-background {
    background-position: -1920px top;
    opacity: 0;
    -webkit-filter:blur(30px);
       -moz-filter:blur(30px);
            filter:blur(30px);
}

h1 {
    font-weight: bold;
    margin: 1em;
    line-height: 1;
    max-width: 700px;
    min-width: 256px;
}

#portfolio {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    opacity: 0;
    -webkit-transition: all 1300ms ease;
       -moz-transition: all 1300ms ease;
            transition: all 1300ms ease;
    -webkit-transform: translate3d(1920px, 0, 0);
       -moz-transform: translate3d(1920px, 0, 0);
            transform: translate3d(1920px, 0, 0);
    -webkit-filter:blur(30px);
       -moz-filter:blur(30px);
            filter:blur(30px);
}

#portfolio.in-focus {
    position: static;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-filter:blur(0);
       -moz-filter:blur(0);
            filter:blur(0);
}

#portfolio h2 {
    width: 92%;
    max-width: 700px;
    margin: 1em auto;
}

#portfolio p {
    font-family: 'Times', serif;
    width: 92%;
    max-width: 700px;
    margin: 1em auto;
    padding: 0 1em;
    box-sizing: border-box;
}

figure {margin: 0}

figure img {
    width: 100%;
    max-width: 660px;
    margin: 0 auto 4em;
    display: none;
}

figure img.active {display: block;}

#back {
    font-size: 1.4em;
    width: 92%;
    max-width: 700px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    font-weight: bold;
    text-align: right;
}

/*Codepen*/
/*#portfolio div {
    width: 100%;
    max-width: 660px;
    margin: 0 auto 4em;
}*/