* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 21px/1.4 'Hoefler text', 'Georgia', serif;
  color: rgba(0, 0, 0, 0.9);
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #eeeeee url(../images/bg.gif) center top no-repeat fixed; }

h1, h2, h3 {
  font-family: 'Helvetica', Arial, sans-serif;
  box-sizing: border-box; }

a {
  color: #CC3399;
  text-decoration: none;
  white-space: nowrap; }
  a:hover {
    cursor: pointer;
    text-decoration: underline; }

h1 {
  line-height: 1;
  max-width: 660px;
  height: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  padding: 1rem; }

#portfolio {
  margin: 0 auto 80px;
  width: 100%;
  position: absolute;
  top: 75%;
  background: white;
  padding: 0 1rem 3rem; }
  #portfolio h2, #portfolio h3 {
    width: 100%;
    max-width: 660px;
    margin: 3rem auto 1rem; }
  #portfolio p {
    width: 100%;
    max-width: 660px;
    margin: 0 auto 1rem; }
  #portfolio ul {
    list-style: none;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; }

figure {
  max-width: 660px;
  margin: 0 auto;
  padding: 0 1rem; }
  figure .next-img,
  figure .prev-img {
    font-size: 36px;
    user-select: none;
    -webkit-user-select: none; }
  figure .next-img {
    float: right; }
  figure img {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
    display: none !important;
    user-select: none;
    -webkit-user-select: none; }
    figure img.active {
      display: block !important; }

@media screen and (max-width: 576px) {
  h1 {
    bottom: 75%; }

  #portfolio {
    font-size: 18px; } }
