body {
	font-family: 'Playfair Display SC', serif;
	color: #0f0f0f;
	background: white;
	margin: 0 auto;
	overflow-y: scroll;
}
a {
	color: #00C;
	text-decoration: none;
}
header {
	font-size: 2em;
	font-weight: 900;
	text-transform: uppercase;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 0 120px;
	z-index: -5;
	background: url("../images/cabebg.jpg") no-repeat;
	background-position: center top;

	-webkit-transition: all 1300ms cubic-bezier(0.52, 0, 0.27, 0.66);
	-webkit-transition: all 1300ms cubic-bezier(0.52, -0.23, 0.27, 0.66);
	-moz-transition: all 1300ms cubic-bezier(0.52, -0.23, 0.27, 0.66);
	-ms-transition: all 1300ms cubic-bezier(0.52, -0.23, 0.27, 0.66);
	-o-transition: all 1300ms cubic-bezier(0.52, -0.23, 0.27, 0.66);
	transition: all 1300ms cubic-bezier(0.52, -0.23, 0.27, 0.66);

	-webkit-transition-timing-function: cubic-bezier(0.52, -0.23, 0.27, 0.66);
	-moz-transition-timing-function: cubic-bezier(0.52, -0.23, 0.27, 0.66);
	-ms-transition-timing-function: cubic-bezier(0.52, -0.23, 0.27, 0.66);
	-o-transition-timing-function: cubic-bezier(0.52, -0.23, 0.27, 0.66);
	transition-timing-function: cubic-bezier(0.52, -0.23, 0.27, 0.66);

}
header h1 {
	margin: -0.368em 0 0 -120px;
	font-size: 12em;
	
	color: rgba(255, 255, 255, 0.8);
	margin-left: ;
	font-style: italic;
}
header p {
	width: 620px;
	margin-top: -2em;
	color: rgba(17, 17, 17, 0.8);
}
header a {
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
}
header a:hover { 
	color: black;
}
header.in-background {
	background-position: center center;
	opacity: 0;
	-webkit-filter:blur(10px);-moz-filter:blur(10px);
	-webkit-transform:scale(1.25);
	-moz-transform:scale(1.25);
	transform:scale(1.25);
}
#portfolio-wrapper {
	margin: 0 auto;
	width: 100%;
	position: fixed;
	padding-top: 20px;
	clear: both;
	background: white;
	overflow: hidden;
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
	transform: translate3d(0, 1440px, 0);
	-webkit-transform: translate3d(0, 1440px, 0);
	opacity: 0;
}
#portfolio-wrapper.in-focus {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	opacity: 1;
	position: static;
}

#back {
	display: block;
	float: left;
	padding: 0 10px;
	font-size: 7em;
	line-height: 22px;
	font-weight: bold;
	color: #CCC;
	position: absolute;
}
#back:hover {
	color: black;
}


#portfolio {
	width: 100%;
}

#portfolio h1 {
	width: 100%;
	border-bottom: 1px solid #CCC;
	padding: 10px 0;
	margin: 0 0 2%;
	text-align: center;
}
#contact {
	height: 0;
	overflow:hidden;
	opacity: 0;
	transition: all 1s;
	-webkit-transition: all 1s;
}
#contact.in-focus {
	height: 100px;
	opacity: 1;
}
#contact a,#contact span {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 0.5em;
	padding-left: 8em;
	color: #333;
	clear:both;
	display: block;
}
.thumbnail {
	display: block; 
	width: 100%; 
	max-width: 900px;
	max-height: 500px;
	margin: 0 auto 2%;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
	background-size: 150%;
	position: relative;
}

.thumbnail:hover h2, .thumbnail:hover p {
	opacity: 1;
}

.thumbnail h2 {
	font-family: 'Playfair Display SC', serif;
	display: block;
	line-height: 500px;
	color: white;
	text-align: center;
	font-size: 3em;
	width: 100%;
	opacity: 0;
	background: rgba(0,0,0,0.3);
	text-transform: uppercase;
		transition: all 0.25s;
	-webkit-transition: all 0.25s;
}
.thumbnail p {
	font-family: "Helvetica Neue", Arial, sans-serif;
	color: white;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	max-width: 900px;
	padding: 20px;
	background: rgba(0,0,0,0.5);
	border-top: 1px solid rgba(255,255,255, 0.1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
			transition: all 0.25s;
	-webkit-transition: all 0.25s;

}

#collage { background-image: url('../images/col1.jpg'); }
#science { background-image: url('../images/sci1.jpg'); }
#luma { background-image: url('../images/luma2.jpg');	}
#glitch { background-image: url('../images/glitch4.jpg'); }

@media screen and (max-width: 1024px) {
	header {
		padding-left: 80px;
	}
	header h1 {
		font-size: 8em;
	}
}
@media screen and (max-width: 680px) {
	header {
		padding-left: 0;
		font-size: 1.5em;
		width: 96%;
		padding: 2%;
	}
	header h1 {
		margin: -0.25em 0 0;
		font-size: 5em;
	}
	header p {
		width: 100%;
		margin: 0;
	}
	nav {
	}
	nav  a {
		padding: 0 0;
		font-size: 1.5em;
	}
	#contact a {
		font-size: 1em;
		padding-left: 5.7em;
	}
	.thumbnail {
		height: 250px;
		background-size: auto;
	}
	.thumbnail h2 {
		line-height: 1;
		font-size: 1.5em;
		text-align: left;
		padding: 0 20px;
	}
	.thumbnail p {
		position: static;
		padding: 0 20px;
	}
}