@import url(http://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans);

* {
  box-sizing: border-box;
}

body {
  font: 400 24px/1.4 'PT Sans';
  margin: 0;
  color: #575757;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1, h2, h3, p, ul { margin: 0 0 1rem; }
h1, h2, ul { text-transform: uppercase }
h2 {letter-spacing: 10px;}

a {
  color: #00CABE;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.rapper {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem 1rem 2rem 1rem;
}

.h {
  font: 6em/1 'Abril Fatface';
  color: #00CABE;
  display: block;
  font-size: 6rem;
  margin: 0 0 0.5em;
  background: -webkit-linear-gradient(#CABE00, #00CABE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1em;
  letter-spacing: 2px;
}

.r {
  text-align: right;
  display: block;
}

.amp {
  /*font-family: 'Adobe Caslon Pro';*/
  /*font-style: italic;*/
}

.tilt-l {
  transform: rotate(-1.38deg);
}
.tilt-r {
  transform: rotate(1.38deg);
}

@media screen and (max-width: 40em) {
  .h { font-size: 3em }
}

@media screen and (max-width: 30em) {
  .h { font-size: 2em }
}

.bokeh {
  background: rgba(0,0,0,0.75);
  font-family: inherit;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255,255,255,0.9);
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 10000;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  visibility: hidden;
}

.bokeh,
.bokeh-blur {
  transition:
    -webkit-filter 400ms ease,
    visibility 800ms,
    -webkit-transform 400ms ease, filter 400ms ease,
    visibility 800ms,
    -webkit-transform 400ms ease;
}

.bokeh-blur.has-blur {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.bokeh.is-visible {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.bokeh > img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  z-index: 10001;
  box-shadow: 0 5px 25px -5px rgba(0,0,0,0.5);
}

.bokeh > img.is-active {display: block}

.bokeh__tabs {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 10002;
}

.bokeh__tabs > li {
  display: inline-block;
  z-index: 10003;
  border-radius: 50%;
  margin: 8px;
  margin: 0.5rem;
}

.bokeh__tabs > li:hover,
.bokeh__close:hover {
  background-color: rgba(0,0,0,0.5);
}

.bokeh__tabs > li.is-active {
  background: rgba(255,255,255,0.9);
  color: rgba(0,0,0,0.75);
}

.bokeh__close {
  cursor: pointer;
  bottom: 0; left: 0; right: 0;
  z-index: 10003;
}

.bokeh__close,
.bokeh__tabs,
.bokeh__tabs li {
  height: 48px;
  height: 3rem;
  line-height: 48px;
  line-height: 3rem;
  text-align: center;
  transition: 200ms ease;
}

.bokeh__tabs li {
  width: 48px;
  width: 3rem;
  cursor: pointer;
}

.bokeh > img {
  top: 0; left: 0; right: 0; bottom: 0;
  display: none;
}

.bokeh > img,
.bokeh__close {
  position: absolute;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes widen {
  0% {
    width: 0;
    border-width: 2px;
    /*left: 40rem;*/
  }
  100% {
    width: 40rem;
    border-width: 9px;
    /*left: 20rem;*/
  }
  /*100% {
    width: 0;
    border-width: 2px;
    left: 40rem;
  }*/
}
@keyframes widen {
  0% {
    width: 627px;
    /*border-width: 2px;*/
    /*left: 40rem;*/
  }
  50% {
    width: 40rem;
    /*border-width: 9px;*/
    /*left: 20rem;*/
  }
  100% {
    width: 627px;
    /*border-width: 2px;*/
    /*left: 40rem;*/
  }
}

.bloom {
  height: 40rem;
  width: 40rem;
  /*-webkit-animation: rotate 5s linear infinite;*/
          /*animation: rotate 1s linear;*/
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  position: absolute;
  top: 0;
  left: 20rem;
  bottom: 0;
  right: 0;
  margin: 3rem auto;
  /*z-index: 1;*/
}
.bloom li {
  width: 20rem;
  height: 40rem;
  /*-webkit-animation: widen 20s linear infinite ;*/
          /*animation: widen 2s ease infinite ;*/
  position: absolute;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 50%;
  mix-blend-mode: screen;
}

@media screen and (max-width: 40rem) {
  .bloom {display: none}
}
.bloom li:nth-child(1) {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  border-color: #CABE00;
}
.bloom li:nth-child(2) {
  -webkit-transform: rotate(18deg);
      -ms-transform: rotate(18deg);
          transform: rotate(18deg);
  border-color: #00CABE;
}
.bloom li:nth-child(3) {
  -webkit-transform: rotate(36deg);
      -ms-transform: rotate(36deg);
          transform: rotate(36deg);
  border-color: #CABE00;
}
.bloom li:nth-child(4) {
  -webkit-transform: rotate(54deg);
      -ms-transform: rotate(54deg);
          transform: rotate(54deg);
  border-color: #00CABE;
}
.bloom li:nth-child(5) {
  -webkit-transform: rotate(72deg);
      -ms-transform: rotate(72deg);
          transform: rotate(72deg);
  border-color: #CABE00;
}
.bloom li:nth-child(6) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  border-color: #00CABE;
}
.bloom li:nth-child(7) {
  -webkit-transform: rotate(108deg);
      -ms-transform: rotate(108deg);
          transform: rotate(108deg);
  border-color: #CABE00;
}
.bloom li:nth-child(8) {
  -webkit-transform: rotate(126deg);
      -ms-transform: rotate(126deg);
          transform: rotate(126deg);
  border-color: #00CABE;
}
.bloom li:nth-child(9) {
  -webkit-transform: rotate(144deg);
      -ms-transform: rotate(144deg);
          transform: rotate(144deg);
  border-color: #CABE00;
}
.bloom li:nth-child(10) {
  -webkit-transform: rotate(162deg);
      -ms-transform: rotate(162deg);
          transform: rotate(162deg);
  border-color: #00CABE;
}
