* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    background: #00E;
}

body {
    font: 20px/1.5 'Open Sans', sans-serif;;
    background: #F5F5F5;
    min-height: 100%;
    margin: 0;
    text-transform: lowercase;
    border: 0.5rem solid #00E;
}

h1, h2, h3 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}

p {margin: 0 0 1rem;}

a {
    color: #00E;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
}

a:hover {
    text-decoration: line-through;
}

.rap {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 1rem 2rem;
}

.inline-list {
    list-style-type: none;
    padding: 0;
}

.inline-list > li {
    display: inline-block;
    padding-right: 1em;
}

.heading,
.sub-heading {
    text-transform: uppercase;
    margin: 1rem 0;
    font-weight: bold;
}

.heading {
    padding: 0.25em 0.5em;
    display: inline-block;
    font-size: 1.5em;
    margin-top: -0.5rem;
    background: black;
    font-style: italic;
    color: #F5F5F5;
}

/* MODAL (CLEAN ME) */
.werk {
    display: none;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1000;
}

.werk.is-visible {
    display: block;
}

.werk > img {
    display: none;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    max-width: 640px;
    max-height: 100%;
    z-index: 1001;
    padding-top: 60px;
}

.werk > img.active {display: block}

.werk .werk-tabs {
    position: relative;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
    z-index: 1002;
    background: black;
    height: 60px;
}

.werk .werk-tabs > li {
    display: inline-block;
    background: black;
    color: white;
    padding: 0.25em 0.5em;
    margin: 0 0.5em;
    line-height: 60px;
    height: 60px;
    cursor: pointer;
}

.werk .werk-tabs > li.active {
    background: white;
    color: black;
}

.werk .close {
    font-size: 0.75em;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1003;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-size: 38px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
