@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 20px/1.5 'Open Sans', sans-serif;
  color: white;
  text-transform: lowercase;
  margin: 0;
  background: #0CABE0;
  background: linear-gradient(#0CABE0, #00CABE) fixed no-repeat;
}

h1, h2, h3 {
  margin: 0;
}

p { margin: 0 0 1rem; }

a {
  color: #ff0;
  text-decoration: none;
  transition: 200ms ease;
  font-weight: 700;
}

.rapper {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem 1rem 2rem 4rem;
  border-left: 4px solid white;
  overflow: hidden;
}

.tilt {
  -webkit-transform-origin: 0 100%;
  -webkit-transform: rotate(-2deg) translateZ(0);
  transform-origin: 0 100%;
  transform: rotate(-2deg) translateZ(0);
}

.tilt-o {
  -webkit-transform-origin: 0 100%;
  -webkit-transform: rotate(2deg) translateZ(0);
  transform-origin: 0 100%;
  transform: rotate(2deg) translateZ(0);
}

.inline-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.inline-list > li {
  display: inline-block;
  margin-right: 1rem;
}

.h,
.sub-h {
  text-transform: uppercase;
  margin: 1rem 0 0;
  font-weight: 700;
}

.h {
  display: block;
  font-size: 4rem;
  line-height: 1;
  color: white;
  margin: 0;
  margin-left: -5rem;
  position: absolute;
  top: -1rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  letter-spacing: 10px;
  font-weight: 300;
}

@media screen and (max-width: 800px) {

  .h { 
    margin: 0; 
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: static;
    font-size: 2rem;
  }

  .inline-list {
    position: static;
    text-align: left;
    margin: 0;
  }

  .inline-list li {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}

.werk {
  display: none;
  background: rgba(0,0,0,0.9);
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 1000;
}

.werk.is-visible {
  display: block;
}

.werk > img {
  display: none;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  max-width: 640px;
  max-height: 100%;
  z-index: 1001;
  padding-top: 60px;
}

.werk > img.active {display: block}

.werk .werk-tabs {
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
  z-index: 1002;
  background: black;
  height: 60px;
}

.werk .werk-tabs > li {
  display: inline-block;
  background: black;
  color: white;
  padding: 0.25em 0.5em;
  margin: 0 0.5em;
  line-height: 60px;
  height: 60px;
  cursor: pointer;
}

.werk .werk-tabs > li.active {
  background: white;
  color: black;
}

.werk .close {
  font-size: 0.75em;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1003;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-size: 38px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
